<a href="https://colab.research.google.com/github/sathamhussain7/ML-algorithms/blob/main/KNN.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**KNN**

**Import libraries**

In [ ]:
import pandas as pd
import numpy as np

**Load the data**

In [ ]:
df=pd.read_csv('/content/xor.csv')
df

         X       Y  class
0    1.760  0.4000   -1.0
1    0.979  2.2400   -1.0
2    1.870 -0.9770    1.0
3    0.950 -0.1510    1.0
4   -0.103  0.4110    1.0
..     ...     ...    ...
495  0.441  0.1790   -1.0
496 -0.799  0.2410    1.0
497  0.289  0.4130   -1.0
498 -0.198  0.0942    1.0
499 -1.150 -0.3580   -1.0

[500 rows x 3 columns]

In [ ]:
df.isnull().sum()

X        0
Y        0
class    0
dtype: int64

In [ ]:
df.dtypes

X        float64
Y        float64
class    float64
dtype: object

In [ ]:
df.duplicated().sum()

0

In [ ]:
feature=['X',	'Y']
for i in feature:
 iqr = df[i].quantile(0.75) - df[i].quantile(0.25)
 upper_threshold = df[i].quantile(0.75) + (1.5 * iqr)
 lower_threshold = df[i].quantile(0.25) - (1.5 * iqr)

 print('feature:',i)
 print('iqr :',iqr)
 print('upper_threshold : ',upper_threshold)
 print('lower_threshold :',lower_threshold)
 
 if upper_threshold > df[i].max():
  print('No outlier in upper_threshold ')
 else:
  print('outlier in upper_threshold')
 if lower_threshold< df[i].min():
   print('No outlier in lower_threshold ')
 else:
  print('outlier in lower_threshold')
 print()

feature: X
iqr : 1.248
upper_threshold :  2.9795
lower_threshold : -2.0124999999999997
No outlier in upper_threshold
No outlier in lower_threshold

feature: Y
iqr : 0.8615
upper_threshold :  1.9505000000000001
lower_threshold : -1.4955
No outlier in upper_threshold
No outlier in lower_threshold

**Splitting the data**

In [ ]:
from sklearn.model_selection import train_test_split

In [ ]:
X=df[['X','Y']].values
y=df['class'].astype(int).values
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2,random_state=7)

In [ ]:
from sklearn.preprocessing import StandardScaler
scaler=StandardScaler()
scaler.fit(X_train)
X_train=scaler.transform(X_train)
X_test=scaler.transform(X_test)

**Modelling**

In [ ]:
from sklearn.neighbors import KNeighborsClassifier
knc=KNeighborsClassifier(4)
knc.fit(X_train,y_train)

KNeighborsClassifier(n_neighbors=4)

In [ ]:
knc.score(X_test,y_test)

0.96

In [ ]:
from sklearn.model_selection import cross_val_score
from sklearn.metrics import roc_auc_score

In [ ]:
cross_val_score,
for i in [1,2,3,4,5,6,7,8,9,10,20,30]:
 knc=KNeighborsClassifier(i)
 knc.fit(X_train,y_train)
 print('k value:',i ,'train_score:',knc.score(X_train,y_train),'cv_score:',np.mean(cross_val_score(knc,X_train,y_train,cv=10,scoring='roc_auc')))

k value: 1 train_score: 1.0 cv_score: 0.9553884711779448
k value: 2 train_score: 0.99 cv_score: 0.9822055137844613
k value: 3 train_score: 0.985 cv_score: 0.9858395989974937
k value: 4 train_score: 0.98 cv_score: 0.9949874686716791
k value: 5 train_score: 0.9825 cv_score: 0.9948621553884711
k value: 6 train_score: 0.98 cv_score: 0.9951127819548873
k value: 7 train_score: 0.99 cv_score: 0.9949874686716791
k value: 8 train_score: 0.9875 cv_score: 0.9943609022556389
k value: 9 train_score: 0.9925 cv_score: 0.9948621553884713
k value: 10 train_score: 0.98 cv_score: 0.9959899749373434
k value: 20 train_score: 0.9675 cv_score: 0.9921052631578947
k value: 30 train_score: 0.9575 cv_score: 0.9918546365914788

In [ ]:
knc=KNeighborsClassifier(6)
knc.fit(X_train,y_train)
knc.score(X_test,y_test)

0.97

In [ ]:
knc.predict([[1.8,0.5]])

array([-1])