<a href="https://colab.research.google.com/github/sathamhussain7/ML-algorithms/blob/main/SVM.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
df=pd.read_csv('/content/breast-cancer.csv')

In [ ]:
df.head()

,ID,Clump Thickness,Uniformity of Cell Size,Uniformity of Cell Shape,Marginal Adhesion,Single Epithelial Cell Size,Bare Nuclei,Bland Chromatin,Normal Nucleoli,Mitoses,Class
0,1000025,5,1,1,1,2,1,3,1,1,0
1,1002945,5,4,4,5,7,10,3,2,1,0
2,1015425,3,1,1,1,2,2,3,1,1,0
3,1016277,6,8,8,1,3,4,3,7,1,0
4,1017023,4,1,1,3,2,1,3,1,1,0

In [ ]:
df.shape

(683, 11)

In [ ]:
df.isnull().sum()

ID                             0
Clump Thickness                0
Uniformity of Cell Size        0
Uniformity of Cell Shape       0
Marginal Adhesion              0
Single Epithelial Cell Size    0
Bare Nuclei                    0
Bland Chromatin                0
Normal Nucleoli                0
Mitoses                        0
Class                          0
dtype: int64

In [ ]:
df.dtypes

ID                             int64
Clump Thickness                int64
Uniformity of Cell Size        int64
Uniformity of Cell Shape       int64
Marginal Adhesion              int64
Single Epithelial Cell Size    int64
Bare Nuclei                    int64
Bland Chromatin                int64
Normal Nucleoli                int64
Mitoses                        int64
Class                          int64
dtype: object

In [ ]:
df.duplicated().sum()

8

In [ ]:
df=df.drop_duplicates()

In [ ]:
df.shape

(675, 11)

In [ ]:
del df['ID']

In [ ]:
df.head()

,Clump Thickness,Uniformity of Cell Size,Uniformity of Cell Shape,Marginal Adhesion,Single Epithelial Cell Size,Bare Nuclei,Bland Chromatin,Normal Nucleoli,Mitoses,Class
0,5,1,1,1,2,1,3,1,1,0
1,5,4,4,5,7,10,3,2,1,0
2,3,1,1,1,2,2,3,1,1,0
3,6,8,8,1,3,4,3,7,1,0
4,4,1,1,3,2,1,3,1,1,0

In [ ]:
from sklearn.model_selection import train_test_split
X=df.drop('Class',axis='columns')
y=df['Class']
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2,random_state=51)

In [ ]:
from sklearn.svm import SVC
from sklearn.model_selection import cross_val_score
lst = [0.1, 0.2, 0.3, 0.4, 0.5, 0.6, 0.7, 0.8, 0.9, 1]
for i in lst:
    clf = SVC(C = i, kernel ='rbf')
    clf.fit(X_train, y_train)
    print( 'c value:',i,'train score:',clf.score(X_train,y_train),'cross val score:',np.mean(cross_val_score(clf,X_train,y_train,cv=10)))

c value: 0.1 train score: 0.9703703703703703 cross val score: 0.9703703703703702
c value: 0.2 train score: 0.9703703703703703 cross val score: 0.9703703703703702
c value: 0.3 train score: 0.9722222222222222 cross val score: 0.9703703703703702
c value: 0.4 train score: 0.9722222222222222 cross val score: 0.9722222222222221
c value: 0.5 train score: 0.9722222222222222 cross val score: 0.9722222222222221
c value: 0.6 train score: 0.9722222222222222 cross val score: 0.9722222222222221
c value: 0.7 train score: 0.9722222222222222 cross val score: 0.9722222222222221
c value: 0.8 train score: 0.9740740740740741 cross val score: 0.9703703703703702
c value: 0.9 train score: 0.9740740740740741 cross val score: 0.9703703703703702
c value: 1 train score: 0.9740740740740741 cross val score: 0.9703703703703702

In [ ]:
from sklearn.metrics import roc_auc_score

In [ ]:
classifier1 = SVC(C=0.7, kernel ='rbf', random_state = 0)
classifier1.fit(X_train, y_train) 

y_pred1 = classifier1.predict(X_test)
AUC_score1 = roc_auc_score(y_pred1, y_test)
AUC_score1

0.968235294117647

In [ ]:
roc_auc_score(y_test,y_pred1)

0.968235294117647

In [ ]:
from sklearn.svm import SVC
from sklearn.model_selection import cross_val_score
lst = [0.1, 0.2, 0.3, 0.4, 0.5, 0.6, 0.7, 0.8, 0.9, 1]
for i in lst:
    clf = SVC(C = i, kernel ='sigmoid')
    clf.fit(X_train, y_train)
    print("C value  : " , i, " train score : ", clf.score(X_train,y_train) , " score : ", np.mean(cross_val_score(clf, X_train, y_train, cv=10)))

C value  :  0.1  train score :  0.6425925925925926  score :  0.6499999999999999
C value  :  0.2  train score :  0.5962962962962963  score :  0.6074074074074074
C value  :  0.3  train score :  0.5555555555555556  score :  0.5666666666666667
C value  :  0.4  train score :  0.5111111111111111  score :  0.5240740740740741
C value  :  0.5  train score :  0.4888888888888889  score :  0.4981481481481481
C value  :  0.6  train score :  0.48148148148148145  score :  0.4833333333333333
C value  :  0.7  train score :  0.4740740740740741  score :  0.47407407407407404
C value  :  0.8  train score :  0.45925925925925926  score :  0.4611111111111111
C value  :  0.9  train score :  0.4388888888888889  score :  0.45185185185185184
C value  :  1  train score :  0.4351851851851852  score :  0.43888888888888883

In [ ]:
classifier2 = SVC(kernel ='sigmoid')
classifier2.fit(X_train, y_train) 

y_pred2 = classifier2.predict(X_test)
AUC_score2 = roc_auc_score(y_pred2, y_test)
AUC_score2

0.3001126126126127

In [ ]:
degrees = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
for i in degrees:
  classifier3 = SVC(C=1, kernel ='poly', degree = i)
  classifier3.fit(X_train, y_train) 
  print("Degrees value  : " , i, " train score : ", classifier3.score(X_train,y_train) , " score : ", np.mean(cross_val_score(classifier3, X_train, y_train, cv=10)))

Degrees value  :  1  train score :  0.9722222222222222  score :  0.9685185185185186
Degrees value  :  2  train score :  0.9740740740740741  score :  0.9666666666666668
Degrees value  :  3  train score :  0.9814814814814815  score :  0.9592592592592594
Degrees value  :  4  train score :  0.9888888888888889  score :  0.9462962962962964
Degrees value  :  5  train score :  0.9925925925925926  score :  0.9481481481481481
Degrees value  :  6  train score :  0.9944444444444445  score :  0.937037037037037
Degrees value  :  7  train score :  0.9944444444444445  score :  0.9333333333333333
Degrees value  :  8  train score :  0.9981481481481481  score :  0.9296296296296298
Degrees value  :  9  train score :  0.9981481481481481  score :  0.924074074074074
Degrees value  :  10  train score :  1.0  score :  0.9314814814814815

In [ ]:
classifier3 = SVC(C=1, kernel ='poly', degree = 5)
classifier3.fit(X_train, y_train) 

y_pred3 = classifier3.predict(X_test)
AUC_score3 = roc_auc_score(y_pred3, y_test)
AUC_score3

0.9521276595744681

In [ ]:
from sklearn.svm import SVC
from sklearn.model_selection import cross_val_score
lst = [0.1, 0.2, 0.3, 0.4, 0.5, 0.6, 0.7, 0.8, 0.9, 1]
for i in lst:
    clf = SVC(C = i, kernel ='linear')
    clf.fit(X_train, y_train)
    print("C value  : " , i, " train score : ", clf.score(X_train,y_train) , " score : ", np.mean(cross_val_score(clf, X_train, y_train, cv=10)))

C value  :  0.1  train score :  0.9722222222222222  score :  0.9685185185185186
C value  :  0.2  train score :  0.9722222222222222  score :  0.9666666666666666
C value  :  0.3  train score :  0.9722222222222222  score :  0.9648148148148149
C value  :  0.4  train score :  0.9722222222222222  score :  0.9648148148148149
C value  :  0.5  train score :  0.9722222222222222  score :  0.9648148148148149
C value  :  0.6  train score :  0.9722222222222222  score :  0.9648148148148149
C value  :  0.7  train score :  0.9722222222222222  score :  0.9648148148148149
C value  :  0.8  train score :  0.9722222222222222  score :  0.9648148148148149
C value  :  0.9  train score :  0.9722222222222222  score :  0.9648148148148149
C value  :  1  train score :  0.9722222222222222  score :  0.9648148148148149

In [ ]:
classifier4 = SVC(C=0.1,kernel ='linear')
classifier4.fit(X_train, y_train) 

y_pred4 = classifier4.predict(X_test)
AUC_score4 = roc_auc_score(y_pred4, y_test)
AUC_score4

0.9621499762695775

In [ ]:
classifier4.predict([[1,1,1,1,1,1,1,1,1]])

/usr/local/lib/python3.9/dist-packages/sklearn/base.py:420: UserWarning: X does not have valid feature names, but SVC was fitted with feature names
  warnings.warn(

array([0])